In [1]:
# autorelad modules
%load_ext autoreload
%autoreload 2

import os

# change working directory to project root
os.chdir("/Users/ani/Projects/taxi_demand_forecasting")

from src.data import load_raw_data

In [2]:
rides = load_raw_data(2022)
rides

File for 2022-01 already exists
File for 2022-02 already exists
File for 2022-03 already exists
File for 2022-04 already exists
File for 2022-05 already exists
File for 2022-06 already exists
File for 2022-07 already exists
File for 2022-08 already exists
File for 2022-09 already exists
File for 2022-10 already exists
File for 2022-11 already exists
File for 2022-12 not available

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3252712 2022-11-30 23:17:09                 144
3252713 2022-11-30 23:48:48                  45
3252714 2022-11-30 23:04:36                 163
3252715 2022-11-30 23:18:37                 161
3252716 2022-11-30 23:30:50                  74

[36255131 rows x 2 columns]

In [3]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 262/262 [00:01<00:00, 168.95it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00     11                   4
1       2022-01-01 01:00:00     15                   4
2       2022-01-01 02:00:00     26                   4
3       2022-01-01 03:00:00      8                   4
4       2022-01-01 04:00:00      9                   4
...                     ...    ...                 ...
2100187 2022-11-30 19:00:00      0                 199
2100188 2022-11-30 20:00:00      0                 199
2100189 2022-11-30 21:00:00      0                 199
2100190 2022-11-30 22:00:00      0                 199
2100191 2022-11-30 23:00:00      0                 199

[2100192 rows x 3 columns]

In [4]:
from src.data import create_ts_dataset

features, targets = create_ts_dataset(ts_data, n_features=24*28*1, step_size=24)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [10:47<00:00,  2.47s/it]

features.shape=(80172, 674)
targets.shape=(80172,)

In [5]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')

In [6]:
tabular_data

,pickup_hour,pickup_location_id,rides_previous_672_hour,rides_previous_671_hour,rides_previous_670_hour,rides_previous_669_hour,rides_previous_668_hour,rides_previous_667_hour,rides_previous_666_hour,rides_previous_665_hour,...,rides_previous_9_hour,rides_previous_8_hour,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour,target_rides_next_hour
0,2022-01-29,4,11,15.0,26.0,8.0,9.0,7.0,3.0,1.0,...,10.0,4.0,11.0,7.0,4.0,3.0,4.0,9.0,19.0,17.0
1,2022-01-30,4,1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,3.0,5.0,5.0,4.0,10.0,7.0,5.0,9.0,10.0,9.0
2,2022-01-31,4,0,1.0,0.0,0.0,1.0,1.0,1.0,3.0,...,13.0,6.0,8.0,7.0,8.0,5.0,5.0,10.0,0.0,3.0
3,2022-02-01,4,1,1.0,0.0,0.0,0.0,3.0,2.0,3.0,...,3.0,6.0,3.0,16.0,7.0,1.0,0.0,1.0,3.0,3.0
4,2022-02-02,4,0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,...,2.0,5.0,3.0,8.0,3.0,0.0,4.0,4.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80167,2022-11-26,199,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80168,2022-11-27,199,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80169,2022-11-28,199,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80170,2022-11-29,199,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80171,2022-11-30,199,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0