In [14]:
# autorelad modules
%load_ext autoreload
%autoreload 2

import os

# change working directory to project root
os.chdir("/Users/ani/Projects/taxi_demand_forecasting")

from src.data import load_raw_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
rides = load_raw_data(2022)
rides

File for 2022-01 already exists
Downloaded file for 2022-02
Downloaded file for 2022-03
Downloaded file for 2022-04
Downloaded file for 2022-05
Downloaded file for 2022-06
Downloaded file for 2022-07
Downloaded file for 2022-08
Downloaded file for 2022-09
Downloaded file for 2022-10
Downloaded file for 2022-11
Could not download file for 2022-12

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3252712 2022-11-30 23:17:09                 144
3252713 2022-11-30 23:48:48                  45
3252714 2022-11-30 23:04:36                 163
3252715 2022-11-30 23:18:37                 161
3252716 2022-11-30 23:30:50                  74

[36255131 rows x 2 columns]

In [23]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 262/262 [00:01<00:00, 227.36it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00     11                   4
1       2022-01-01 01:00:00     15                   4
2       2022-01-01 02:00:00     26                   4
3       2022-01-01 03:00:00      8                   4
4       2022-01-01 04:00:00      9                   4
...                     ...    ...                 ...
2100187 2022-11-30 19:00:00      0                 199
2100188 2022-11-30 20:00:00      0                 199
2100189 2022-11-30 21:00:00      0                 199
2100190 2022-11-30 22:00:00      0                 199
2100191 2022-11-30 23:00:00      0                 199

[2100192 rows x 3 columns]

In [24]:
from src.data import create_ts_dataset

features, targets = create_ts_dataset(ts_data, n_features=24*28*1, step_size=24)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [11:52<00:00,  2.72s/it]

features.shape=(80172, 674)
targets.shape=(80172,)

In [25]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')